<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Please Enter your Phone number</h1>
    <form action="{% url 'send_otp'%}" method="POST">
        {%csrf_token%}
        <input type="number" name="number" id="number" value="">
        <button type="submit" class="btn btn-link btn-light">
               submit
        </button>
    </form> <br>
</body>

</html>